.item
  .content
    .header Hatch Gas Pool
    .description
      %ul
        %li 16 Hatchery
        %li 18 Extractor
        %li 17 Spawning Pool
        %li 19 Overlord
        %li 20
        %ul
          %li 2x Queens (2 more queens out of natural)
          %li 4x Zerglings (Clear Third with 2, scout with other 2)
          %li Metabolic Boost
          %ul
            %li 2x Off Gas
        %li 30 Hatchery
        %ul
          %li Queen
