.item
  .content
    .header Hatch Gas Pool Hatch
    .description
      %ul
        %li 17 Hatchery
        %li 18 Extractor
        %li 17 Spawning Pool
        %ul
          %li 
            1x Queen (From main hatchery)
            %sup 1
          %ul
            %li 1x Queen (From main hatchery)
          %li 1x Zerglings
          %li Metabolic Boost
          %li Overlord
        %li 20 Hatchery
        %ul
          %li 1x Queen
          %ul
            %li 1x Queen
        %li 26 Overlord
        %li @100 Gas 
        %ul
          %li Overlord Speed
          %li Remove 2 from gas
        %li 32 3x Zerglings
        %li 38 Overlord
        %li 3:30 Add 2 to gas
    .meta
      %sup 1
      Inject and send to natural. Spend next 50 energy on creep tumour.
