.item
  .content
    .header Hatch Gas Pool
    .description
      %ul
        %li 17 Hatchery
        %li 18 Extractor
        %li 17 Spawning Pool
        %li 19 Overlord
        %li 20
        %ul
          %li 2x Queens
          %li 1x Zerglings (Clear Third)
          %li Metabolic Boost
          %ul
            %li 2x Off Gas
        %li 30 Hatchery
        %ul
          %li Queen
