.item
  .content
    .header Hatch Gas Pool
    .description
      %ul
        %li 16 Hatchery
        %li 18 Extractor 
        %li 17 Spawning Pool
        %li 19 Overlord (Skip this if you see lings with your first overlord)
        %ul
          %li 2x Queens
          %li Metabolic Boost
          %li 2 off gas, rally drone to gas
        %li 30 Hatchery
        %li @50 gas Baneling Nest
        %li 4x Lings (Scout)
        %li Overlord
        %li Queen
