.item
  .content
    .header Hatch Gas Pool
    .description
      %ul
        %li 17 Hatchery
        %li 18 Extractor 
        %li 17 Spawning Pool
        %ul
          %li 2x Queens
          %li 1x Zerglings (Scout)
          %li Metabolic Boost
          %li Continue Droning
        %li 19 Overlord (Stop Droning)
        %li 30 Hatchery
        %ul
          %li Queen
