hr {
  width: 33%;
}

.ui.secondary.pointing.menu {
  background-color: #A46927;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #A46927;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: #A46927;
}

body {
  background-color:  #232021;
}

h2, .header {
  color: #A46927 !important;
}

.meta, .extra, .column {
  color: #79A3A7 !important;
}

p, li {
  color: #DCDEDE;
}

ul {
  margin-left: 1em;
  padding-left: 1em;
}

ul ul {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

ul ul ul {
  margin-left: 0.65em;
  padding-left: 0.63em;
}
