.item
  .content
    .header 2-1-1
    .meta
      Double medivac stim drop, leaves base @ 4:45
    .description
      %ul
        %li 1x Barracks with Reactor
        %li 1x Barracks with Tech Lab
        %li 1x Factory building Reactor
        %li 1x Building Starport
      %hr
      %p 
        %ul
          %li Evolution Chamber (Carapace)
          %li 4:00 Extractor
          %li @50 Gas (After Carapace)
          %ul 
            %li Baneling nest
            %li Start Ling Production
          %li 2x Queens from natural
          %li 2x Queens from third
          %li @100 Gas Lair
      %p
        Engage marines with zerglings on creep, and focus medivacs with queens.
        Do not engage off creep.
      
