.item
  .content
    .header 2-1-1
    .meta
      Double medivac stim drop, leaves base @ 5:00
    .description
      %ul
        %li 1x Barracks with Reactor
        %li 1x Barracks with Tech Lab
        %li 1x Factory building Reactor
        %li 1x Building Starport
      %hr
      %p Build another queen and 4 banelings before getting 1-1. Focus the medivacs with 2-3 queens, and do not engage off creep.