.item
  .content
    .header 2-1-1
    .meta
      Double medivac stim drop, leaves base @ 5:00
    .description
      %ul
        %li 1x Barracks with Reactor
        %li 1x Barracks with Tech Lab
        %li 1x Factory building Reactor
        %li 1x Building Starport
      %p 
        Build 2x queens from natural, and 2x queens from third, giving you 4x queens for roaming, and 3x for injecting.
        Begin zergling production after evos.
      %p
        Engage marines with zerglings on creep, and focus medivacs with queens.
        Do not engage off creep.
