.item
  .content
    .header 2-1-1
    .meta
      Double medivac stim drop, leaves base @ 5:00
    .description
      %pre
        :preserve
          1x Barracks with Reactor
          1x Barracks with Techlab
          1x Factory building Reactor
          1x Building Starport
          
          Build another queen and 4 banelings before upgrades
          Focus the medivacs with 2-3 queens
          Do not engage off creep