.item
  .content
    .header Hellion Raven
    .meta 4-8 hellions + 1-2 ravens
    .description
      %ul
        %li 1x Starport with Tech Lab
        %li 1x Factory with Reactor
        %li * Armory
      %hr
        %p
          %ul
            %li Handful of lings
            %li 4:00 Extractor
            %li @100 Gas 2x Evolution Chamber
            %ul
              %li Melee and Carapace Upgrades
            %li Build up to 4-6 queens for defense/creep
            %li @50 Gas Baneling nest
            %li @100 Gas Lair
      %p Spore in each mineral line (just in case it's a banshee instead)
      %p Queens defend hellions, keep a handful of lings around mineral lines to defend auto turret harass
      %p always pull drones away from the auto turret
      %p * If there's an armory, you'll need lings as well as your queens to defend a hellbat push
