.item
  .content
    .header Hellion Banshee
    .meta 4-8 hellions + 1 banshee
    .description
      %ul
        %li 1x Starport with Tech Lab
        %li 1x Factory with Reactor
        %li * Armory
      %p Spore in each mineral line at 4:30
      %p Focus the banshee with your queens and try to surround the hellions with your lings.
      %hr
        %p
          %ul
            %li A total of ~12-16 lings. Keep them in your natural for a hellion runby
            %li 4:00 Extractor
            %li @100 Gas 2x Evolution Chamber
            %ul
              %li Melee and Carapace Upgrades
            %li Build up to 4-6 queens for defense/creep
            %li @50 Gas Baneling nest (After upgrades)
            %li @100 Gas Lair (After baneling nest)
      %p * If he morphes in hellbats, split your queens so they don't get hit by splash and try to separate the hellbats, before engaging with zerglings.