.item
  .content
    .header Hellion Banshee
    .meta 4-8 hellions + 1-2 banshees
    .description
      %ul
        %li 1x Starport with Tech Lab
        %li 1x Factory with Reactor
        %li * Armory
      %p Spore in each mineral line / where you think you'll defend the banshee.
      %p Pull all your inject queens to the creep spreading queen, and make 3 more for injects. 
      %p Focus the banshee with your queens and try to surround the hellions with your lings.
      %p * If there's an armory, make 4-8 banelings before the attack to deal with hellbats.
