.item
  .content
    .header Hellion drop
    .meta
      Single medivac hellion drop, arrives ~5:00
    .description
      %ul
        %li 1x Naked Barracks
        %li 1x Factory with Reactor
        %li 1x Naked Starport
      %p Usually goes to main - Move overlords to spot. 
      %p Intercept with queens/lings.
      %p Not very strong if scouted.
