.item
  .content
    .header Hellion Banshee
    .meta 4-8 hellions + 1-2 banshees
    .description
      %pre
        :preserve
          1x Starport with tech lab
          1x Factory with reactor
          * Armory

          Spore in each mineral line
          Pull all inject queens to creep spreading queen
          Make 3 queens for inject
          Focus banshee, try to surround hellions
          Don't fight off creep
          * If armory, make 4-8 banelings for hellbats
          