.item
  .content
    .header Hellion Cyclone
    .meta
      Hellion Cyclone shows up @ ~5:30
    .description
      %ul
        %li 2x Factory with Reactors
      %hr
      %p 
        %ul
          %li Extractor
          %li Roach Warren
          %ul
            %li Roaches
          %li Lair
          %li @50% Lair 
          %ul
            %li Extractor
            %li Evolution Chamber (Range)
          %li ~5:00 Begin Ling Production
