.item
  .content
    .header Widowmine drop
    .meta
      Single medivac widowmine/marine drop, leaves base @ ~3:45
    .description
      %pre
        :preserve
          1x Barracks w/ building reactor
          1x Naked Factory
          1x Naked Starport
          1x Building Starport
          
          Build a spore in each mineral line
          Bring creep spread queen to focus down medivac
          Lings under medivac