.item
  .content
    .header Widowmine drop
    .meta
      Single medivac widowmine/marine drop, leaves base @ ~3:45
    .description
      %ul
        %li 1x Barrack with building Reactor
        %li 1x Naked Factory
        %li 1x Naked Starport
      %hr
      %p Build a spore in each mineral line, and bring your creep spread queen to focus the medivac.
      %p Keep your zerglings below the medivac.
