.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 General tips
        %ul
          %li If first overlord doesn't see a natural - make units/spines/sacrifice overlord immediately
          %li If 3:30 scout sees no tech, make a spore in each mineral line, and scout for hidden tech on the map
          %li Do not be afraid to pull drones
          %li Do not be afraid to make a spine forest
          %li 80 drones is the dream. That's 16/16/16/8 on minerals, and 8 gasses across 4 bases.
          %li 
            Check out
            %a(href="http://reddit.com/r/allthingszerg") /r/allthingszerg
            for more direct help
