.ui.large.fixed.pointing.menu
  %a.item(href="/") Home
  %a.item(href="/how-to-help") How to help
  %a.item(href="/items-we-need") Items we need
  %a.right.item(href="https://www.canadahelps.org/en/charities/the-journey-church/")
    Donate