.ui.secondary.pointing.menu
  .header.item All Things Zerg
  %a.item{ class: ('active' if at_home?), href: '/' } Home
  %a.item{ class: ('active' if at_overlords?), href: 'overlords'} Overlord Spots
  %a.item{ class: ('active' if at_replays?) }, href: 'replays' } Replays
