.ui.three.column.grid.container
  .row
    .column
      .ui.items
        .item
          .content
            .header Hatch Gas Pool
            .description
              %pre
                :preserve
                  17 Hatch
                  18 Gas
                  17 Pool
                    3x off gas unless ZvZ
                    1-3x lings
                    2x queens
                  19 Overlord
                  30 Hatch*
            .extra
              * Build dependent
    .column
      .ui.items
        .item
          .content
            .header 3 Hatch Before Pool
            .description
              %pre
                :preserve
                  17 Hatch
                  18 Hatch
                  19 Gas
                  18 Pool
                    3x Queens
                    Speed
                    1-3x lings
                  30 Overlord

    .column
      .ui.items
        .item
          .content
            .header 12 Pool Expand
            .description
              %pre
                :preserve
                  12 pool
                    3x lings
                    Queen
                  14 overlord
                  20 2x lings
                  21 Hatch
                  21 Queen (Extractor Trick)*
                  23 Overlord
                  30 Hatch
            .extra
              * Constant queen production


