.ui.three.column.grid.container
  .row
    .column
      .ui.items
        .item
          .content
            .header Hatch Gas Pool
            .description
              %pre
                :preserve
                  17 Hatch
                  18 Gas
                  17 Pool
                    3x off gas unless ZvZ
                    1-3x lings
                    2x queens
                  19 Overlord
                  30 Hatch
    .column
      .ui.items
        .item
          .content
            .header 3 Hatch Before Pool
            .description
              %pre
                :preserve
                  17 Hatch
                  18 Hatch
                  19 Gas
                  18 Pool
                    3x Queens
                    Speed
                    1-3x lings
                  30 Overlord

    .column
      .ui.items
        .item
          .content
            .header Pool Hatch Gas
            .description
              %pre
                :preserve
                  17 Pool
                    3x lings
                    Queen
                  17 Hatch
                  17 Gas
                    @100 gas Speed
                  19 Overlord
                  30 Hatch 
            .extra
              * Constant queen production


