.ui.items
  .item
    .content
      .header Ravager Ling Bane
      .meta
        * Any Opener
      .description
        %pre
          :preserve
            29 3x lings
            32 Overlord
            44 
              Roach Warren
                ~8 Roaches
                + Lings For Defense
              Back On Gas
              Gas
              Queen
            4:30-5:00
              Evo (+1 Melee)
              Lair
              Bane Nest
            @3 base saturation Hatch
      .extra
        Only run 4 gasses, and run 1-2 macro hatches as you have the money.





