.ui.items
  .item
    .content
      .header Ravager Ling Bane
      .meta
        * Hatch Gas Pool
      .description
        %pre
          :preserve
            30 Queen
            32 Overlord
            44 Back On Gas
              @50 Gas
                Baneling Nest
                Gas
              @100 Gas Double Evo (Melee/Carapace)
              @100 Gas Lair
            44~52 Lings
            Take gasses as bases are saturated
      .extra





