.ui.items
  .item
    .content
      .header Ling Bane Into Roach
      .meta
        * Hatch Gas Pool / 12 Pool Expand
      .description
        %pre
          :preserve
            30 Baneling Nest
            30 Queen
            32 Overlord
            32-44 Lings
            ~50 Roach Warren + Gas
            @2 base saturation
              Lair
              Evo
              Gas



