.item
  .content
    .header Ling Bane Into Roach
    .description
      %ul
        %li 30 Baneling Nest
        %li 30 Queen
        %li 32 Overlord
        %li 32-44 Lings
        %li ~50 Roach Warren + Extractor
        %li @2 Base Saturation
        %ul
          %li Lair
          %li Evolution Chamber
          %li Extractor
