.item
  .content
    .header Ling Bane Into Roach
    .meta
      * Hatch Gas Pool / Pool Hatch Gas
    .description
      %ul
        %li 30 Baneling Nest
        %li 30 Queen
        %li 32 Overlord
        %li 32-44 Lings
        %li ~50 Roach Warren + gas
        %li @2 base saturation
        %ul
          %li Lair
          %li Evo
          %li Gas