.item
  .content
    .header Archon Drop
    .meta 4 DTs @ 5:00 and/or 2 Archons @ 5:30
    .description
      %ul
        %li 1x Twilight Council (Idle)
        %li 3x Building Gateways
        %li 1x Building Robotics Facility
        %li 1x Finished Gateway
        %li 1x Cybernetics Core (Researching)
        %li 1x Building Dark Shrine
      %hr
      %p 
        %ul
          %li Extractor
          %li Roach Warren
          %ul
            %li ~8 Roaches
          %li Spore in each mineral line
          %li Lair
    .meta If you can't scout the shrine itself, 4 gateways is a good tell. Glaive timing only uses 3.

