.item
  .content
    .header Archon Drop
    .meta 2 archons dropped at ~5:50
    .description
      %ul
        %li 1x Twilight Council (Idle)
        %li 1x Building Gateways
        %li 1x Building Robotics Facility
        %li 1x Finished Gateway
        %li 1x Cybernetics Core (Researching)
        %li 1x Building Dark Shrine
      %hr
      %p Spore in each mineral line (In case DT), make a handful of roaches to guard each base.
      %p Focus warp prism with queens. Keep units spread out to mitigate splash damage.
            