.item
  .content
    .header Glaive Adepts
    .meta ~8 glaive adepts @ 5:00
    .description
      %pre
        :preserve
          1x Twilight Council (Researching)
          2x Building Gateways
          1x Finished Gateway
          1x Cybernetics Core (Researching)

          Existing roach/ling should handle it
          Split army to follow shades
          If not third, keep making units for all in

          