.item
  .content
    .header Glaive Adepts
    .meta ~8 glaive adepts @ 5:00
    .description
      %ul
        %li 1x Twilight Council (Researching)
        %li 2x Building Gateways
        %li 1x Finished Gateway
        %li 1x Cybernetics Core (Researching)
      %hr
      %p 
        %ul
          %li Baneling Nest
          %li Extractor
          %li 4:00
          %ul
            %li Evolution Chamber (Range)
            %li Begin Zergling Production
            %li 4 banelings
          %li @100 Gas
          %ul
            %li Lair
            %li Roach Warren

            
