.item
  .content
    .header Glaive Adepts
    .meta ~8 glaive adepts @ 5:00
    .description
      %ul
        %li 1x Twilight Council (Researching)
        %li 2x Building Gateways
        %li 1x Finished Gateway
        %li 1x Cybernetics Core (Researching)
      %p Existing roach/ling should handle it. Keep an eye on their third - If it's not going down, keep producing units. 
      %p Remember to split your units to follow the shades.  
            
