.item
  .content
    .header Oracle into Archon Drop
    .meta
      Oracle + Pheonix, followed up by 2 archons and a warp prism
    .description
      %ul
        %li Warp Gate doesn't begin researching immediately after cyber core finishes
        %li A Building Stargate
        %li A robo after the stargate.
      %p You can usually safely assume an archon drop after an oracle opening
    %hr
      %p Build a spore in each mineral line
      %p Drone to 44, take 2 gasses, a roach warren, and a lair
      %p 
        Drone to 58, take another gas and an evo, begin building roaches.
        You can either continue building roaches and lings and all in from here, or make ~12ish roaches and continue droning.
