.item
  .content
    .header Two Stargate Pheonix
    .meta
      12+ Pheonix
    .description
      %ul
        %li 2x building stargates building pheonix
      %p Build a spore in each mineral line
      %p Keep queens hugging spore
      %p Drone hard to 3 base saturation, drop hydralisk den when lair finished, research +1 range from evo
      %p Bank money and larva to create equal number hydralisks to pheonix at once
      %p Rally hydralisks in such a way that they don't wander through unprotected areas alone
