.item
  .content
    .header 2 Oracle Voidray
    .meta
      Third behind 2 oracles and a voidray
    .description
      %ul
        %li 1x Stargate (Building Oracle)
        %li 1x Nexus (Third)
      %hr
        %p
          %ul
            %li 4:00
            %ul
              %li Spore in each mineral line
              %li Extractor
              %li Evolution Chamber (+1 Melee)
            %li 5:00 Lair
            %ul
              %li Hydralisk Den
              %li Baneling Nest
