.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.header All Things Zerg
.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 Openers
        =render_partial :openers
.ui.vertical.stripe.segment
  .ui.three.column.grid.container
    .row
      .column
        %h2 vs Zerg
        =render_partial :zerg
      .column
        %h2 vs Protoss
        =render_partial :protoss
      .column
        %h2 vs Terran
        =render_partial :terran
.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 General tips
        %ul
          %li If first overlord doesn't see a natural - make units/spines/sac overlord immediately
          %li If 3:30 scout sees no tech, make a spore in each mineral line, and scout for hidden tech on the map
          %li Do not be afraid to pull drones
          %li Do not be afraid to make a spine forest
.ui.vertical.stripe.segment
  .ui.three.column.grid.container
    .row
      .column
        %h2 Scouting
        (3:30 overlord scout)
    .row
      .column
        %h2 vs Zerg
        =render_partial :zerg_scouting
      .column
        %h2 vs Protoss
        =render_partial :protoss_scouting
      .column
        %h2 vs Terran 
        =render_partial :terran_scouting
