.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.header All Things Zerg
=render_partial :general_tips
.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 Openers
        .ui.three.column.grid.container
          .row
            .column
              %h2 vs Zerg
              .ui.items
                =render_partial "openers/zerg/hatch_gas_pool"
            .column
              %h2 vs Protoss
              .ui.items
                =render_partial "openers/protoss/hatch_gas_pool_hatch"
            .column
              %h2 vs Terran
              .ui.items
                =render_partial "openers/terran/pool_hatch_gas_hatch"
.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 Scouting (3:30 overlord scout)
        .ui.three.column.grid.container
          .row
            .column
              %h2 vs Zerg
              .ui.items
                =render_partial "scouting/zerg/one_base_ling_bane"
                =render_partial "scouting/zerg/early_pool_expand"
            .column
              %h2 vs Protoss
              .ui.items
                =render_partial "scouting/protoss/archon_drop"
                =render_partial "scouting/protoss/glaive_adept"
            .column
              %h2 vs Terran 
              .ui.items
                =render_partial "scouting/terran/2_1_1"
                =render_partial "scouting/terran/hellion_cyclone"