.ui.vertical.masthead.center.aligned.segment
  .ui.text.container
    %h1.ui.header All Things Zerg
.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 Openers
        .ui.three.column.grid.container
          .row
            .column
              .ui.items
                =render_opener :hatch_gas_pool
            .column
              .ui.items
                =render_opener :three_hatch_before_pool
            .column
              .ui.items
                =render_opener :pool_hatch_gas
.ui.vertical.stripe.segment
  .ui.three.column.grid.container
    .row
      .column
        %h2 vs Zerg
        .ui.items
          =render_build :ling_bane_into_roach
      .column
        %h2 vs Protoss
        .ui.items
          =render_build :ravager_ling_bane
      .column
        %h2 vs Terran
        .ui.items
          =render_build :ultra_rush
.ui.vertical.stripe.segment
  .ui.one.column.grid.container
    .row
      .column
        %h2 General tips
        %ul
          %li If first overlord doesn't see a natural - make units/spines/sac overlord immediately
          %li If 3:30 scout sees no tech, make a spore in each mineral line, and scout for hidden tech on the map
          %li Do not be afraid to pull drones
          %li Do not be afraid to make a spine forest
.ui.vertical.stripe.segment
  .ui.three.column.grid.container
    .row
      .column
        %h2 Scouting
        (3:30 overlord scout)
    .row
      .column
        %h2 vs Zerg
        .ui.items
          =render_zerg_build :one_base_ling_bane
          =render_zerg_build :early_pool_expand
      .column
        %h2 vs Protoss
        .ui.items
          =render_protoss_build :glaive_adept
          =render_protoss_build :oracle
      .column
        %h2 vs Terran 
        .ui.items
          =render_terran_build "2_1_1"
          =render_terran_build :widowmine_drop
          =render_terran_build :hellion_banshee
