.item
  .content
    .header Early pool expand
    .meta ~10 zerglings to kill natural
    .description
      %ul
        %li First overlord sees lings
        %li First overlord sees natural
      %hr
      %p Immediately make 6 lings.
      %p Pull ~8 drones with lings and defend the natural like your life depends on it.
