.item
  .content
    .header Early pool expand
    .meta ~10 zerglings to kill natural
    .description
      %pre
        :preserve
          First overlord sees lings
          First overlord sees natural

          Immediately make 6 lings
          Pull ~8 drones with lings
          Defend natural like your life depends on it