.item
  .content
    .header 1 Base Ling Bane
    .meta Any form of pool/gas without expo
    .description
      %pre
        :preserve
          First overlord sees zerglings before natural
          First overlord sees no natural

          Ling production
          Baneling nest before speed
          Spine in the main, at the edge of creep
          Queens are more important than zerglings