.item
  .content
    .header 1 Base Ling Bane
    .meta Any form of pool/gas without expo
    .description
      %ul
        %li First overlord sees zerglings before natural
        %li First overlord sees no natural
      %hr
      %p Constant ling production.
      %p Baneling nest before speed, and a spine at the edge of the main.
      %p Queens are very good at defense, get more if you can afford it.