.item
  .content
    .header Hatch Gas Pool
    .description
      %ul
        %li 17 Hatchery
        %li 18 Extractor
        %li 17 Spawning Pool
        %ul
          %li 2x Queens
          %ul
            %li 2x Queens
          %li 3x Zerglings (For Reaper)
          %li Metabolic Boost
          %ul
            %li 3x Off Gas
          %li Continue Droning
        %li 19 Overlord (Stop Droning)         
        %li 44 Hatchery
