.item
  .content
    .header Pool Hatch Gas Hatch
    .description
      %ul
        %li 17 Spawning Pool
        %li 18 Hatchery
        %li 19 Extractor
        %li 
          19 1x Queen
          %sup 1
        %li 21 2x Zerglings
        %li 22 Overlord
        %li 22 Hatchery
        %li 22 Queen (From main hatchery)
        %li @100 Gas
        %ul
          %li Zergling Speed
          %li Remove 2 drones from gas
        %li 32 Queen (From main hatchery)
        %li 36 Queen (From third hatchery)
        %li 36 Overlord
        %li 3:30 Add 2 drones to gas
    .meta
      %sup 1 
      Inject and send to natural. Spend next 50 energy on a creep tumour.
