.item
  .content
    .header Hatch Gas Pool
    .description
      %ul
        %li 17 Hatch
        %li 18 Gas
        %li 17 Pool
        %ul
          %li 3x off gas unless ZvZ
          %li 1-3x lings
          %li 2x Queens
        %li 19 Overlord
        %li 30 Hatch