.item
  .content
    .header Pool Hatch Gas
    .description
      %ul
        %li 17 Pool
        %ul
          %li 3x lings
          %li Queen
        %li 17 Hatch
        %li 17 Gas
        %ul
          %li @100 Gas Speed
        %li 19 Overlord
        %li 30 Hatch