.item
  .content
    .header 3 Hatch Before Pool
    .description
      %ul
        %li 17 Hatch
        %li 18 Hatch
        %li 19 Gas
        %li 18 Pool
        %ul
          %li 3x Queens
          %li Speed
          %li 1-3x lings
        %li 30 Overlord