.item
  .content
    .header Ling Bane Muta
    .description
      %ul
        %li 30 Queen
        %li 32 Overlord
        %li 44 
        %ul
          %li Back on gas
          %li
            Up to 6 queens for defense
            %sup 1
        %li 
          @200 Gas 2x Evolution Chamber
          %sup 2
        %ul
          %li +1 Melee
          %li +1 Carapace
        %li @50 Gas Baneling Nest
        %li @100 Gas Lair
        %ul
          %li Spire
          %li +2 Melee
          %li +2 Carapace
          %li Baneling Speed
        %li @100 Gas Overlord speed
        %li 
          @3 base mineral saturation
          %sup 3
        %ul
          %li All gasses
          %li Macro hatch
          %li Fourth
          %ul
            %li 16 additional drones - 2 to make extractors, 6 on gas, 8 on minerals
    .meta
      %sup 1
      Usually 2 from main/nat, then 3 from main/nat/third
    .meta
      %sup 2
      Upgrades before lair/baneling nest.
    .meta
      %sup 3
      Only do these if you're safe enough to do so. If your opponent is on 2 base, it's not a good idea to go up to 5 hatch, 8 gas, 80 drones
