.item
  .content
    .header Ultra Rush
    .meta
      * Hatch Gas Pool
    .description
      %ul
        %li 30 Queen
        %li 32 Overlord
        %li 44 Back on gas
        %ul 
          %li @50 Gas
          %ul 
            %li Baneling Nest
            %li Gas
          %li @100 Gas Double Evo (Melee/Carapace)
          %li @100 Gas Lair
        %li 44~52 Lings
        %li Take gasses as bases are saturated
