.item
  .content
    .header Ultra Rush
    .description
      %ul
        %li 30 Queen
        %li 32 Overlord
        %li 44 Back on gas
        %li @50 Gas
        %ul 
          %li Baneling Nest
          %li Extractor 
        %li @100 Gas 2x Evolution Chamber *
        %ul
          %li +1 Melee
          %li +1 Carapace
        %li @100 Gas Lair
        %li 44~52 Lings
        %li Take gasses as bases are saturated
    .meta
      * Upgrades before lair
