.item
  .content
    .header Ravager Ling Bane
    .description
      %ul
        %li 29 3x Zerglings
        %li 32 Overlord
        %li 40 Queen
        %li 44
        %ul
          %li Roach Warren
          %ul
            %li ~10 Roaches + lings for defense
          %li 3x On Gas
          %li Extractor
        %li 4:30-5:00
        %ul
          %li Evolution Chamber
          %ul
            %li +1 Melee
          %li Lair
          %li Baneling Nest
        %li @3 base saturation Hatch
    .extra
      Only run 4 gasses, and run 1-2 macro hatches as you have the money.
