!!!
%html
	%head
		%title All Things Zerg
		=script('/js/script.js')
		=script('/js/semantic.min.js')
		=css('/css/semantic.min.css')
		=css('/css/style.css')

	%body
		=yield
		<script async defer src="https://cdn.simpleanalytics.io/hello.js"></script> 
		<noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>